.input-group {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
  padding: var(--margin-m);

  &.extensible {
    border-radius: var(--margin-s);
  }
}

.input-group + .input-group {
  margin-top: var(--margin-m);
}
