#output-column {
  overflow-y: auto;
  scrollbar-color: var(--border-muted) var(--bg-dark);
  scrollbar-gutter: var(--margin-m);
  scrollbar-width: var(--margin-m);
}

#output-container {
  --page-width: 50em;
  display: block;
  justify-self: center;
  margin: var(--margin-xl);
  width: var(--page-width);
}

.output-page {
  --aspect-ratio: 1.414;
  box-shadow: var(--double-shadow);
  background-color: white;
  padding: 10%;
  min-height: calc(var(--page-width) * var(--aspect-ratio));
  overflow-y: visible;
  color: black;
  font-size: 0.9cqw;
  line-height: 1.4em;
}
