#output-column {
  overflow-y: auto;
  scrollbar-color: var(--border-muted) var(--bg-dark);
  scrollbar-gutter: var(--margin-m);
  scrollbar-width: var(--margin-m);
}

#output-container {
  --min-aspect-ratio: 1.414;
  --page-width: 50em;
  display: flex;
  justify-self: center;
  margin: var(--margin-xl) auto;
  width: var(--page-width);
  min-height: calc(var(--page-width) * var(--min-aspect-ratio));
}

.output-page {
  box-shadow: var(--double-shadow);
  background-color: white;
  padding: 10%;
  color: black;
  font: var(--p);
  font-size: 0.9cqw;
}

.two-column-layout {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 2.5em 2em;

  .name-cell {
    grid-area: 1 / span 2;
    align-self: center;

    .name {
      font: var(--h-big);
    }

    .description {
      color: var(--text-muted);
      font: var(--h-sub);
    }
  }

  .contact-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
    line-height: 1.1;
  }

  .about-cell {
    .output-para + .output-para {
      margin-top: 1em;
    }
  }

  .history-cell {
    display: flex;
    grid-area: 2 / 2 / 2 / span 2;
    flex-direction: column;
    gap: 2em;

    .history-entry + .history-entry {
      margin-top: 1.75em;
    }

    .history-entry {
      .entry-title {
        font-size: 1.15em;
      }

      .entry-subtitle {
        margin-bottom: 0.5em;
        color: var(--text-muted);
      }

      .entry-details {
        padding-left: 1em;
      }
    }
  }
}

.output-title {
  font: var(--h-smol);
}

.output-separator {
  margin: 0.4em 0 0.8em;
  border-top: 1px solid var(--border-muted);
}
