#output-column {
  overflow-y: auto;
  scrollbar-color: var(--border-muted) var(--bg-dark);
  scrollbar-gutter: var(--margin-m);
  scrollbar-width: var(--margin-m);
}

#output-container {
  --min-aspect-ratio: 1.414;
  --page-width: 50em;
  display: block;
  justify-self: center;
  margin: var(--margin-xl) auto;
  width: var(--page-width);
  height: calc(var(--page-width) * var(--min-aspect-ratio));
}

.output-page {
  box-shadow: var(--double-shadow);
  background-color: white;
  padding: 10%;
  height: 100%;
  overflow-y: visible;
  color: black;
  font: var(--p);
  font-size: 0.9cqw;
}

.two-column-layout {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;

  .name-cell {
    grid-area: 1 / span 2;
    align-self: center;

    .name {
      font: var(--h-big);
    }

    .description {
      color: var(--text-muted);
      font: var(--h-sub);
    }
  }

  .contact-cell {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    line-height: 1.1;
  }
}
