.form-section {
  box-shadow: var(--soft-shadow);
  border-radius: var(--margin-m);
  background-color: var(--bg-light);
  padding: calc(1.5 * var(--responsive-padding)) var(--responsive-padding);
}

.form-section + .form-section {
  margin-top: var(--margin-xl);
}

.section-title {
  margin-bottom: var(--margin-xs);
  padding-left: var(--margin-s);
  color: var(--text-muted);
  font: var(--h2);
}
