/* LAYOUT */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  --nav-height: 3.5rem;
}

main {
  display: grid;
  grid-template-rows: calc(100vh - var(--nav-height));
  grid-template-columns: 40rem 1fr;
  padding-top: var(--nav-height);
}

/* GENERAL */
#root {
  background-color: var(--bg-dark);
  color: var(--text);
  font-size: 14px;
  font-family: var(--ff);
}
